a,
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: #fff;
    color: inherit;
}

html,
body {
    min-height: 100%;
    font-size: 14px;
    color: #39383e;
    line-height: 1.4;
}

#mainFrame {
    border: none;
    width: 100%;
    height: 100%;
}

.Page {
    width: 100%;
    height: 100%;
}

#paperMask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    svg {
        height: 72px;
        width: 72px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -36px 0 0 -36px;
        .g-circles {
            -webkit-transform: scale(0.9) translate(7px, 7px);
            -ms-transform: scale(0.9) translate(7px, 7px);
            transform: scale(0.9) translate(7px, 7px);
        }
        circle {
            fill: #faad14;
            fill-opacity: 0;
            -webkit-animation: opacity 0.78s linear infinite;
            animation: opacity 0.78s linear infinite;
        }
        circle:nth-child(12n + 1) {
            -webkit-animation-delay: -0.065s;
            animation-delay: -0.065s;
        }
        circle:nth-child(12n + 2) {
            -webkit-animation-delay: -0.13s;
            animation-delay: -0.13s;
        }
        circle:nth-child(12n + 3) {
            -webkit-animation-delay: -0.195s;
            animation-delay: -0.195s;
        }
        circle:nth-child(12n + 4) {
            -webkit-animation-delay: -0.26s;
            animation-delay: -0.26s;
        }
        circle:nth-child(12n + 5) {
            -webkit-animation-delay: -0.325s;
            animation-delay: -0.325s;
        }
        circle:nth-child(12n + 6) {
            -webkit-animation-delay: -0.39s;
            animation-delay: -0.39s;
        }
        circle:nth-child(12n + 7) {
            -webkit-animation-delay: -0.455s;
            animation-delay: -0.455s;
        }
        circle:nth-child(12n + 8) {
            -webkit-animation-delay: -0.52s;
            animation-delay: -0.52s;
        }
        circle:nth-child(12n + 9) {
            -webkit-animation-delay: -0.585s;
            animation-delay: -0.585s;
        }
        circle:nth-child(12n + 10) {
            -webkit-animation-delay: -0.65s;
            animation-delay: -0.65s;
        }
        circle:nth-child(12n + 11) {
            -webkit-animation-delay: -0.715s;
            animation-delay: -0.715s;
        }
        circle:nth-child(12n + 12) {
            -webkit-animation-delay: -0.78s;
            animation-delay: -0.78s;
        }
    }
    @-webkit-keyframes opacity {
        3% {
            fill-opacity: 1;
        }
        75% {
            fill-opacity: 0;
        }
    }
    @keyframes opacity {
        3% {
            fill-opacity: 1;
        }
        75% {
            fill-opacity: 0;
        }
    }
}

.list {
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s linear;
    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    .listHeader {
        text-align: center;
        line-height: 50px;
        height: 50px;
        font-size: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        background: rgb(247, 250, 241);
    }
    .listCon {
        flex: 1;
        overflow: auto;
    }
}

.editWaitWrap {
    border-radius: 10px;
    border: 1px dashed #dedede;
    text-align: center;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .editWait {
        padding-bottom: 50px;
        p {
            margin-bottom: 30px;
            color: #a1a2ab;
        }
    }
}

.emptyComponent {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
    img {
        width: 68px;
    }
    p {
        line-height: 30px;
        color: #999;
    }
}

.formButton {
    width:120px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 2px;
}